ListItem
{
    background: transparent;
}

ListItem:hover
{
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 rgba( 255, 255, 255, 0% ), stop:1 rgba( 187, 205, 225, 50% ) );
}

ListItem[selected="true"]
{
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 rgba( 255, 255, 255, 0% ), stop:1 rgba( 187, 205, 225, 100% ) );
}