#ListViewBackground,
MessageList #list
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                        stop:0 rgba( 255, 255, 255, 100% ),
                        stop:1 rgba( 225, 234, 242, 100% ) );
}

PalringoListView
{
    border: none;
}

#firstLine,
#secondLine
{
    font-size: 10px;
}

#firstLine
{
    font-weight: bold;
}

#secondLine
{
    color: #888;
}

#listContainerToggleButton
{
    padding-left: 5px;
    text-align: left;
    background: #bfcfe3;
    color: #406593;
    font-size: 10px;
}

/***** Buttons *****/
#buttonsContainer
{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                    stop: 0.0 rgba( 80, 80, 80, 100% ),
                    stop: 0.5 rgba( 53, 53, 53, 100% ),
                    stop: 0.51 rgba( 0, 0, 0, 100% ) );
}

#overviewButton,
#contactsButton,
#groupsButton
{
    border: 1px solid #000;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                    stop: 0.0 rgba( 155, 155, 155, 100% ),
                    stop: 0.5 rgba( 134, 134, 134, 100% ),
                    stop: 0.51 rgba( 106, 106, 106, 100% ),
                    stop: 1 rgba( 131, 131, 131, 100% ));
    padding: 2px 4px 1px 3px;
    margin: 3px 0 0 0;
    color: #fff;
    font-size: 10px;
}

#overviewButton:checked,
#contactsButton:checked,
#groupsButton:checked
{
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                    stop: 0.0 rgba( 204, 204, 204, 100% ),
                    stop: 1.0 rgba( 255, 255, 255, 100% ) );
    color: #000;
}

#overviewButton
{
    margin-left: 2px;
}
#contactsButton
{
    padding-right: 6px;
}
#groupsButton
{
    margin-right: 2px;
    padding-left: 0;
}


/***** MessageItem *****/
#senderNickname
{
    font-weight: bold;
}

MessageItem
{
    margin: 2px 0;
}

MessageItem QLabel
{
    background: transparent;
}

MessageItem #messageContent
{
    border: 1px solid rgba( 128, 161, 200, 100% );
    border-radius: 5px;
    padding: 1px 5px 1px 2px;

    background-color:   rgba( 226, 235, 242, 100% );
    background-image:   url(":/backgrounds/recieved-off.gif");
    background-repeat:  repeat-x;
    background-position:top;
}

MessageItem #messageContent:hover
{
    background-color:   rgba( 193, 208, 230, 100% );
    background-image:   url(":/backgrounds/recieved-on.gif");
}

MessageItem[originator="true"] #messageContent
{
    background-color:   rgba( 255, 236, 179, 100% );
    background-image:   url(":/backgrounds/originator-off.gif");
    border-color:       rgba( 255, 191, 0, 100% );
}

MessageItem[originator="true"] #messageContent:hover
{
    background-image:   url(":/backgrounds/originator-on.gif");
    background-color:   rgba( 255, 220, 113, 100% );
}

/*
--- sender ---
qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop: 0.00 rgba( 255, 251, 241, 100% ),
    stop: 0.07 rgba( 255, 242, 200, 100% ),
    stop: 0.14 rgba( 255, 220, 113, 100% ),
    stop: 0.21 rgba( 255, 236, 179, 100% ) );

--- receiver ---
qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop: 0.00 rgba( 248, 254, 252, 100% ),
    stop: 0.07 rgba( 229, 238, 243, 100% ),
    stop: 0.14 rgba( 193, 208, 230, 100% ),
    stop: 0.21 rgba( 226, 235, 242, 100% ) );
*/
